{% extends 'base.html' %}

{% block title %}
Вход  : {{ block.super }}
{% endblock title %}

{% block sidebar %}
{% include 'inc/_sidebar.html' %}
{% endblock sidebar %}

{% block content %}
<h1> Вход </h1>

{% if messages %}
    {% for message in messages %}
        {{ message }}
    {% endfor %}
{% endif %}

<form action="{% url 'log_in' %}" method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button class="btn btn-primary btn-block" type="submit"> Зайти на сайт </button>
</form>

{% endblock content %}