{% extends 'base.html' %}

{% block title %}
    {{ news_item.title }} : {{ block.super }}
{% endblock title %}

{% block sidebar %}
    {% include 'inc/_sidebar.html' %}
{% endblock sidebar %}

{% block content %}
      <div class="card mb-3">
          <div class="card-header">
              Категория: <a href="{{ news_item.category.get_absolute_url }}" >{{ news_item.category }}</a>
          </div>
          <div class="card-body">
              <div class="media">
                  {% if item.photo %}
                  <img class="mb-3" src="{{ news_item.photo.url }}" alt="" width="350">
                  {% else %}
                  <img class="mb-3" src="https://picsum.photos/350/235/?blur=2" alt="">
                  {% endif %}
              </div>

              <div class="media-body">
                  <h5 class="card-title">{{ news_item.title }}</h5>
                  <!-- Отключение экранирования html-кода в тексте новости-->
                  {% autoescape off %}
                  <p class="card-text">{{ news_item.content}}</p>
                  {% endautoescape %}
              </div>
          </div>
          <div class="card-footer text-muted">
              {{ news_item.creation_date | date:"Y-m-d H:i" }}
          </div>
      </div>
{% endblock content %}
