{% extends 'base.html' %}

{% block title %}
Регистрация  : {{ block.super }}
{% endblock title %}

{% block sidebar %}
{% include 'inc/_sidebar.html' %}
{% endblock sidebar %}

{% block content %}
<h1> Регистрация </h1>

{% if messages %}
    {% for message in messages %}
        <!-- название класса в bootstrap alert-danger не соответствует названию в message.tags (error), поэтому
        обрабатываем этот случай отдельно -->
        {% if message.tags == 'error' %}
            <div class="alert alert-danger" role="alert">
                {{ message }}
            </div>
        {% else %}
            <div class="alert alert-{{message.tags}}" role="alert">
                {{ message }}
            </div>
        {% endif %}
    {% endfor %}
{% endif %}

<form action="{% url 'sign_up' %}" method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button class="btn btn-primary btn-block" type="submit"> Зарегистрироваться </button>
</form>

{% endblock content %}
